cryptography
Django
django_admin_rangefilter
loguru
pyTelegramBotAPI
python-dotenv
aioredlock
cachetools
requests
redis
django-redis
django-solo
django-modeladmin-reorder
django-nested-inline
Pillow
psycopg2-binary
uvicorn