/* подгружается после collectstatic */
table.inline-related {
  table-layout: fixed;
  width: 100%;
}

/* «Изменить» */
table.inline-related col.col-change {
  width: 4em;
}

/* Текст вопроса / варианта */
table.inline-related col.col-text {
  width: 60%;
}

/* Порядок */
table.inline-related col.col-order {
  width: 10%;
}

/* Правильный ответ (для ChoiceInline) */
table.inline-related col.col-is_correct {
  width: 5%;
}

/* Чекбокс «Удалить?» */
table.inline-related col.col-delete {
  width: 5%;
}

/* Подстройка инпутов */
table.inline-related input {
  font-size: 0.9em;
}
