{% extends "admin/edit_inline/tabular.html" %}
{% load i18n %}

{% block table %}
<table class="inline-related table table-striped"
       id="{{ inline_admin_formset.formset.prefix }}-group">
  {# 1) Единый colgroup для всех инлайнов #}
  <colgroup>
    {# ячейка «Изменить» #}
    {% if inline_admin_formset.opts.show_change_link %}
      <col class="col-change" />
    {% endif %}

    {# поля из QuestionInline/ChoiceInline #}
    {% for field_name, field in inline_admin_formset.fields %}
      <col class="col-{{ field_name }}" />
    {% endfor %}

    {# ячейка «Удалить» #}
    {% if inline_admin_formset.can_delete %}
      <col class="col-delete" />
    {% endif %}
  </colgroup>

  {{ block.super }}  {# дальше идёт стандартная thead + tbody #}
</table>
{% endblock %}
